---
import Hero from "@/components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import TitleSection from "@/components/TitleSection.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import CodeIcon from "@/components/icons/Code.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Certification from "@/components/icons/Certification.astro"

import Projects from "@/components/Projects.astro";
import AboutMe from "@/components/AboutMe.astro";
import Certifications from "@/components/Certifications.astro";
import StackIcon from "@/components/icons/StackIcon.astro";
import Stack from "@/components/Stack.astro";

---

<Layout
  title="Portafolio de Omar Hernández - Desarrollador y Programador Web"
  description="Contrata a Omar Hernández para desarrollar tu aplicación web o móvil."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <StackIcon class="size-8" />
          Stacks
        </TitleSection>
        <Stack />
      </SectionContainer>

      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="certificaciones">
        <TitleSection>
          <Certification class="size-7" />
          Certificaciones
        </TitleSection>
        <Certifications />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
