---
import Hero from "@/components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import TitleSection from "@/components/TitleSection.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
---

<Layout
  title="Portafolio de Omar Hern치ndez - Desarrollador y Programador Web"
  description="Contrata a Omar Hern치ndez para desarrollar tu aplicaci칩n web o m칩vil."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>
    </div>
  </main>
</Layout>
