---
import Hero from "@/components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portafolio de Omar Hern치ndez - Desarrollador y Programador Web"
  description="Contrata a Omar Hern치ndez para desarrollar tu aplicaci칩n web o m칩vil."
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
	</main>
</Layout>
