---
const personalImageAlt = "Omar Hernández";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Omar Hernández. Empecé en la programación en Duoc UC en 2021.
      Actualmente estoy <strong
        >en búsqueda de trabajo como
        Analista Programador</strong
      >.
    </p>

    <p>
      Llevo desarrollando proyectos para prácticar <strong
        >todos los conceptos de programación desde hace 2 años.</strong
      >
    </p>

    <p>
      Javascript y Typescript son mi lenguaje de programación favorito. También
      he aprendido a usar <strong
        >React, Next.js, Angular, Nest, Node.js, Express, MongoDB, PostgreSQL.</strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="../../public/omar-img.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
