---
const personalImageAlt = "Omar Hernández";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Omar Hernández. Empecé en la programación un poco antes de
      iniciar mi carrera en <strong>Duoc UC, en Santiago de Chile.</strong>
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >mejorar procesos de sistemas de educación online con respecto a la experiencia de usuario</strong
      >. Actualmente sigo aprendiendo nuevas herramientas y tecnologías para mejorar mis habilidades y conocer nuevas formas de trabajar.
    </p>

    <p>
      Como desarrollador Full Stack, <strong
        ><strong class="italic">además de participar activamente en la comunidad, trabajo bien en equipo y me gusta compartir mi conocimiento sobre temas relacionados con la programación.</strong></strong
          ></strong
          ></em> Mi objetivo es mejorar mis habilidades y herramients para aportar a la comunidad todo lo que he aprendido.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>