---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "03/03/2024 - 07/07/2024",
    title: "Proyecto de Título",
    company: "Duoc UC",
    description:
      "Desarrollé mi proyecto de título con el objetivo de crear un Ecommerce con Next.js, Tailwind CSS y Paypal. Fue un proyecto muy interesante y me hicieron aprender nuevas tecnologías y mejorar mi conocimiento en el desarrollo web.",
    link: "https://muscari.vercel.app",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
