---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "01/12/2024 - 10/12/2024",
    title: "Angular de cero a experto",
    company: "Devtalles",
    description:
      "Desarrollé varios proyectos del curso de Angular de cero a experto. Aprendi a crear aplicaciones con Angular con herramientas que se utilizan en la industria.",
    link: "https://muscari.vercel.app",
  },
  {
    date: "08/08/2024 - 10/10/2024",
    title: "Node.Js de cero a experto",
    company: "Devtalles",
    description:
      "Con Node aprendi a trabajar con el servidor para las aplicaciones dedicadas al Backend.",
    link: "https://muscari.vercel.app",
  },
  {
    date: "03/03/2024 - 07/07/2024",
    title: "Proyecto de Título",
    company: "Duoc UC",
    description:
    "Desarrollé mi proyecto de título con el objetivo de crear un Ecommerce con Next.js, Tailwind CSS y Paypal. Fue un proyecto muy interesante y me hicieron aprender nuevas tecnologías y mejorar mi conocimiento en el desarrollo web.",
    link: "https://muscari.vercel.app",
  },
  {
    date: "15/09/2023 - 03/03/2024",
    title: "React de cero a experto",
    company: "Devtalles",
    description:
      "Desarrollé varios proyectos del curso de React de cero a experto. Aprendi a crear aplicaciones con React basandome en componentes.",
    link: "https://muscari.vercel.app",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
