---
import Css from "./icons/Css.astro";
import Express from "./icons/Express.astro";
import Git from "./icons/Git.astro";
import GitHub from "./icons/GitHub.astro";
import Html from "./icons/Html.astro";
import Javascript from "./icons/Javascript.astro";
import Mongodb from "./icons/Mongodb.astro";
import NextJS from "./icons/NextJS.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import Postgresql from "./icons/Postgresql.astro";
import Prisma from "./icons/Prisma.astro";
import ReactSVG from "./icons/ReactSVG.astro";
import Redux from "./icons/Redux.astro";
import Shadcnui from "./icons/Shadcnui.astro";
import Tailwind from "./icons/Tailwind.astro";
import TanStack from "./icons/TanStack.astro";
import Typescript from "./icons/Typescript.astro";

const TAGS = [
  {
    name: "Html",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  {
    name: "Css",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Javascript,
  },
  {
    name: "Typescript",
    class: "bg-[#003159] text-white",
    icon: Typescript,
  },
  {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: ReactSVG,
  },
  {
    name: "Redux",
    class: "bg-[#003159] text-white",
    icon: Redux,
  },
  {
    name: "TanStack",
    class: "bg-[#003159] text-white",
    icon: TanStack,
  },
  {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  {
    name: "Shadcnui",
    class: "bg-[#003159] text-white",
    icon: Shadcnui,
  },
  {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  {
    name: "Node.js",
    class: "bg-black text-white",
    icon: NodeIcon,
  },
  {
    name: "Express.js",
    class: "bg-black text-white",
    icon: Express,
  },
  {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: Mongodb,
  },
  {
    name: "PostgreSQL",
    class: "bg-black text-white",
    icon: Postgresql,
  },
  {
    name: "Prisma",
    class: "bg-black text-white",
    icon: Prisma,
  },
  {
    name: "Github",
    class: "bg-black text-white",
    icon: GitHub,
  },
  {
    name: "Git",
    class: "bg-black text-white",
    icon: Git,
  },
];
---

<div class="my-8">
  <ul class="flex flex-wrap justify-center gap-4">
    {
      TAGS.map((tag) => (
        <li>
          <div
            class="flex flex-col items-center p-4 rounded-lg shadow-md transition-all duration-300 hover:scale-110 bg-gray-800/40 dark:bg-white/10 border border-gray-700/20 dark:border-white/10 backdrop-blur-sm"
          >
            <tag.icon class="size-12 mb-2" />
            <span class="font-medium text-sm text-gray-800 dark:text-gray-100">{tag.name}</span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
