@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiFuente';
  src: url('./assets/fonts/atkinson.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'MiFuente', sans-serif;
  background-image: url('./assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
